@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:200,300,400,500,600,700,800,900&display=swap');

/* --------------------- General styles -------------------*/

.uppercase {
    text-transform: uppercase;
}

body {
    margin: 0;
    padding: 0;
}

.inline-block {
    display: inline-block;
}

/* --------------------- colours -------------------*/

.language-link {
    color: grey;
}

/* --------------------- Brand and Logo Section -------------------*/

.brand-container {
    width: 300px;
}

a.brand {
    width: 250px;
    height: 100%;
    text-decoration: none;
}

.brand-wrapper {
    width: 220px;
    height: 100%;
}

.brand-header {
    font-family: "Montserrat", sans-serif;
    font-size: 42px;
    height: 50px;
    width: 220px;
    color: #0d7f0d;
}

.brand-heading {
    position: relative;
}

.brand-sub {
    font-family: "Lato", sans-serif;
    display: inline-block;
    font-size: 18px;
    height: 32px;
    width: 220px;
    color: darkgrey;
    letter-spacing: 2px;
    text-align: center;
}

.brand-logo {
    display: inline-block;
    position: absolute;
    top: 0;
    right: inherit;
    font-size: 50px;
    height: 82px;
    width: 60px;
    color: #0d7f0d;
    text-align: center;
}

.language-toggle {
    display: inline;
    position: absolute;
    right: 25px;
    top: 10px;
    letter-spacing: 2px;
}

a.language-link {
    text-decoration: none;
}

a.language-link:hover {
    color: #0d7f0d;
}

/* --------------------- Navbar -------------------*/

.collapse {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
}

.navbar {
    padding: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: darkgrey;
}

nav ul {
    justify-content: space-around;
    width: 100%;
    border: 1px solid white;
    background-color: white;
}

nav ul li {
    border-left: 1px solid white;
    list-style-type: none;
    width: 100%;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    font-family: "Lato", sans-serif;
}

.hvr-fade {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.hvr-fade:hover {
    color: white;
    background-color: #abe1ab;
}

.navbar .navbar-toggler {
    border: 0;
}

.active {
    background-color: #abe1ab;
}

.dropdown-item {
    text-align: center;
}

/* --------------------- Callout -------------------*/

.callout-container {
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    background: url(https://www.nps.gov/caco/learn/news/images/National-Public-Lands-Day_1.JPG) no-repeat right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.jumbotron {
    background: rgba(0, 0, 0, 0.5);
    max-width: 750px;
    max-height: 400px;
}

.jumbotron-header,
.jumbotron .sub-header {
    color: white;
}

.block-divider {
    width: 200px;
    height: 2px;
    border: none;
    background-color: #fff;
}

.btn-cta {
    color: #fff;
    background-color: #e84610;
    border-color: #e84610;
    width: 160px;
    border-radius: 0;
    font-family: "Montserrat", sans-serif;
}

.btn {
    font-size: 15px;
    font-weight: 500;
}

/* --------------------- Footer -------------------*/

.footer-sub {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: white;
    margin-bottom: 4px;
}

footer {
    background-color: #0d7f0d;
    min-height: 100px;
}

footer p {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: white;
    margin: 0;
    padding: 0;
}

.flyer-pdf {
    font-size: 16px;
    color: white;
    padding-left: 5px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.flyer-pdf:hover {
    color: #e84610;
}


.social-links li a i {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 18px;
    text-align: center;
    color: #0d7f0d;
    background: white;
    line-height: 8px;
    padding: 13px 0;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.social-links li a i:hover {
    background-color: #e84610;
}

.footer-padding {
    padding: 0 18px 18px 18px;
}

/* --------------------- About Me -------------------*/

.profile-container {
    padding: 40px;
    background: #efefef;
}

.profile-name {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 15px;
}

.profile-photo {
    width: 100%;
    padding-bottom: 100%;
    border: solid 3px darkgrey;
    border-radius: 50%;
    margin: 0 auto;
    background: url("./images/maaike-profile.jpg") center;
    background-repeat: no-repeat;
    background-size: cover;
}

.details-heading {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 25px;
}

.details-container {
    padding: 20px 20px 0px 20px;
    background: #efefef;
    margin: 0 auto;
}

.personal-info-item {
    display: block;
    clear: both;
    margin-bottom: 22px;
    font-family: "Lato", sans-serif;
}

.personal-info-item .key,
.personal-info-item .value {
    display: inline-block;
}

.personal-info-item .key p,
.personal-info-item .value p {
    margin: 0;
    padding-left: 30px;
}

.personal-info-item .key {
    width: 30%;
    margin-right: 20px;
}

.personal-info-item .key p {
    font-weight: 700;
}

.personal-info-item .value {
    position: relative;
    width: 60%;
}

.aboutme-container {
    padding: 40px;

}

.aboutme-heading {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 25px;
}

.aboutme-subheading {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.col-10 {
    padding-bottom: 30px;
}

.col-10 p {
    font-family: "Lato", sans-serif;
}

.aboutme-icon {
    color: #e84610;
    font-size: 18px;
}

/* --------------------- Services -------------------*/

.services-heading {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.services-info {
    font-family: "Lato", sans-serif;
    font-size: 14px;
}

.services-section {
    padding: 50px 0px 50px 100px;
    position: relative;
    right: 0;
    margin: 0 auto;
}

.services-sub {
    min-height: 300px;
    background-color: #efefef;
    padding: 20px;
}

.photo-section {
    padding: 50px 20px 50px 0px;
    margin: 0;
}

.photo-service1 {
    width: 85%;
    min-height: 300px;
    background: url("./images/tuinier-plant-zaadjes-in-zijn-tuin.jpg") no-repeat center;
    background-size: cover;
}

.photo-service2 {
    width: 85%;
    min-height: 300px;
    background: url("./images/group-activity1.jpg") no-repeat center;
    background-size: cover;
}

.photo-service3 {
    width: 85%;
    min-height: 300px;
    background: url("./images/Moestuin Herbergier plan.jpg") no-repeat center;
    background-size: cover;
}

.price-heading {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
}

.price-info {
    display: inline-block;
    font-family: "Lato", sans-serif;
    padding-left: 10px;
}

.coaching-link,
.coaching-link:hover {
    color: black;
    text-decoration: none;
}

/* --------------------- Mentor & Coach -------------------*/

.coaching-header {
    width: 100%;
    height: 100%;
    background-color: #efefef;
    padding: 25px;
}

.coaching-heading {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.coaching-jumbotron {
    position: relative;
    background: url("./images/Coaching1.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 450px;
    width: 100%;
    margin: 0 0 50px 0;
}

.coaching-jumbotron2 {
    position: relative;
    background: url("./images/Coaching2.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 450px;
    width: 100%;
    margin: 0 0 50px 0;
}

.coaching-container-text {
    position: absolute;
    top: 25px;
    background-color: #efefef;
    width: 90px;
    height: 45px;
    padding: 14px;
}

.coaching-container-text h5 {
    color: black;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 600;
}


/* --------------------- Contact -------------------*/

.contact-photo {
    height: 280px;
    background: url(https://cdn.pixabay.com/photo/2017/12/02/14/38/contact-us-2993000_1280.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.contact-container {
    padding: 0;
    margin: 0;
}

.info-container {
    padding: 0 0 20px 20px;
}

.contact-hr {
    border: dotted 1px;
    opacity: 0.2;
    margin: 5px 50px 20px;
}

.contact-info {
    display: block;
    width: 100%;
    height: 35s0px;
    background-color: #efefef;
}

.contact-heading {
    padding: 50px 0 0 50px;
    margin-bottom: 0;
    font-family: "Montserrat", sans-serif;
}

.form-container {
    padding: 0 50px 0;
}

.form {
    padding: 20px 50px 20px 50px;
}

.form-header {
    padding: 30px 20px 0 50px;
    font-family: "Montserrat", sans-serif;
    text-align: left;
}

label {
    font-family: "Lato", sans-serif;
    margin: 10px 0 0;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #e84610;
}

/* --------------------- Media Queries -------------------*/

@media(max-width: 575px) {
    .navbar {
        position: absolute;
        right: 10px;
        top: 40px;
        z-index: 1;
    }
}

@media(max-width: 767px) {
    .services-section {
        padding: 50px 50px 0px 50px;
        position: relative;
        bottom: 0;
        margin: 0 auto;
    }
    .photo-section {
        padding: 0px 50px 50px 50px;
        margin: 0 auto;
    }
    .services-sub {
        height: 200px;
        min-height: 0;
    }
    .photo-service1,
    .photo-service2,
    .photo-service3 {
        width: 100%;
    }
}

@media(max-width: 480px) {
    .services-section {
        padding: 50px 0px 0px 0px;
        position: relative;
        bottom: 0;
        margin: 0 auto;
    }
    .photo-section {
        padding: 0px 0px 50px 0px;
        margin: 0 auto;
    }
    .services-sub {
        height: 200px;
        min-height: 0;
    }
    .photo-service1,
    .photo-service2,
    .photo-service3 {
        width: 100%;
        height: 250px;
    }
}

@media(max-width: 991px) {
    .col-lg-6 {
        padding: 0;
    }
    .form-container {
        padding: 0;
    }
}
