@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:200,300,400,500,600,700,800,900&display=swap');

/* --------------------- General styles -------------------*/

.uppercase {
    text-transform: uppercase;
}

body {
    margin: 0;
    padding: 0;
}

.inline-block {
    display: inline-block;
}

/* --------------------- colours -------------------*/

.language-link {
    color: grey;
}

/* --------------------- Brand and Logo Section -------------------*/

a.brand {
    width: 250px;
    height: 100%;
    text-decoration: none;
}

.brand-wrapper {
    width: 220px;
    height: 100%;
}

.brand-header {
    font-family: "Montserrat", sans-serif;
    font-size: 42px;
    height: 50px;
    width: 220px;
    color: #0d7f0d;
}

.brand-heading {
    position: relative;
}

.brand-sub {
    font-family: "Lato", sans-serif;
    display: inline-block;
    font-size: 18px;
    height: 32px;
    width: 220px;
    color: darkgrey;
    letter-spacing: 2px;
    text-align: center;
}

.brand-logo {
    display: inline-block;
    position: absolute;
    top: 0;
    right: inherit;
    font-size: 50px;
    height: 82px;
    width: 60px;
    color: #0d7f0d;
    text-align: center;
}

.language-toggle {
    display: inline;
    position: absolute;
    right: 25px;
    top: 10px;
    letter-spacing: 2px;
}

a.language-link {
    text-decoration: none;
}

/* --------------------- Navbar -------------------*/

.collapse {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
}

.navbar {
    padding: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: darkgrey;
}

nav ul {
    justify-content: space-around;
    width: 100%;
    border: 1px solid white;
    background-color: white;
}

nav ul li {
    border-left: 1px solid white;
    list-style-type: none;
    width: 100%;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    font-family: "Lato", sans-serif;
}

.hvr-fade {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.hvr-fade:hover {
    color: white;
    background-color: #abe1ab;
}

.navbar .navbar-toggler {
    border: 0;
}

.active {
    background-color: #abe1ab;
}

/* --------------------- Callout -------------------*/

.callout-container {
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    background: url(https://www.nps.gov/caco/learn/news/images/National-Public-Lands-Day_1.JPG) no-repeat right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.jumbotron {
    background: rgba(0, 0, 0, 0.5);
    max-width: 750px;
    max-height: 400px;
}

.jumbotron-header,
.jumbotron .sub-header {
    color: white;
}

.block-divider {
    width: 200px;
    height: 2px;
    border: none;
    background-color: #fff;
}

.btn-cta {
    color: #fff;
    background-color: #e84610;
    border-color: #e84610;
    width: 160px;
    border-radius: 0;
    font-family: "Montserrat", sans-serif;
}
.btn {
    font-size: 15px;
    font-weight: 500;
}

/* --------------------- Footer -------------------*/

.footer-sub {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: white;
    margin-bottom: 4px;
}

footer {
    background-color: #0d7f0d;
    min-height: 100px;
}

footer p {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: white;
    margin: 0;
    padding: 0;
}

.flyer-pdf {
    font-size: 16px;
    color: white;
    padding-left: 5px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.flyer-pdf:hover {
    color: #e84610;
}


.social-links li a i {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 18px;
    text-align: center;
    color: white;
    background: darkgrey;
    line-height: 8px;
    padding: 13px 0;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.social-links li a i:hover {
    color: #e84610;
}

.footer-padding {
    padding: 0 18px 18px 18px;
}

/* --------------------- About Me -------------------*/

.profile-heading {
    padding: 40px;
    background: #efefef;
}

.profile-name {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 15px;
}

.profile-photo {
    width: 100%;
    padding-bottom: 100%;
    border: solid 3px darkgrey;
    border-radius: 50%;
    margin: 0 auto;
    background: url("./images/maaike-profile.jpg") center;
    background-repeat: no-repeat;
    background-size: cover;
}

.details-heading {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 15px;
}

.details-container {
    padding: 40px;
}

/* --------------------- Media Queries -------------------*/

@media(max-width: 572px) {
        .navbar {
            position: absolute;
            right: 10px;
            top: 40px;
            z-index: 1;
        }
}